<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

<style>
    .error {
        color: #ff0000;
    }
</style>
</head>
<body>
    <div>
        <h1>Entrar no sistema</h1>
        <p>Informe suas credenciais para acessar o sistema.</p>

        <div th:if="${error}">
            <h2>Erro!</h2>
            <p>Alguns erros foram detectados: </p>
            <p th:text="${error}" class="error"></p>
        </div>

        <form
            th:action="@{/login}"
            th:object="${user}"
            method="post"
        >
            <div>
                <label for="email">E-mail:</label>
                <input type="email" name="username" id="email" required>
            </div>
            <div>
                <label for="password">Senha:</label>
                <input type="password" name="password" id="password" required>
            </div>

            <div>
                <button type="submit">Entrar</button>
            </div>
        </form>
        <div>
            <a th:href="@{/register}">Criar conta</a>
        </div>
    </div>

</body>
</html>