<! Doctype html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">

<title>Criar conta</title>

</head>

<body>
<h1>Crie sua conta</h1>

<fieldset>
<legend>Crie uma conta de usuário</legend>
	<div th:if="${error}">
		<h2>Erro!</h2>
		<p>Alguns erros foram detectados: </p>
		<p th:text="${error}"></p>
	</div>
	<form 
		th:action="@{/register/new}"
		th:object="${user}" 
		method="post"
	>
		<div>
		<label for="name">Nome:</label>
		<input type="text" name="name" id="name" th:field="*{name}" required>
		</div>
		
		<div>
		<label for="email">E-mail:</label>
		<input type="email" name="email" id="email" th:field="*{email}" required>
		</div>
		
		<div>
		<label for="password">Senha:</label>
		<input type="password" name="password" id="password" th:field="*{password}" required>
		</div>
		
		<div>
		<label for="role">Tipo de usuário:</label>
		<select id="role" required th:field="*{userType}">
		<th:block th:each="userType : ${userTypes}">
			<option th:text="${userType.role}" th:value="${userType.id}"></option>
		</th:block>
		</select>
		</div>
	
		<div>
		<button type="submit">Criar usuário</button>
		</div>
	
	</form>
</fieldset>

</body>

</html>